In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [2]:
county_economy=pd.read_csv(r'C:\Users\Thund\NSS_Data_Analytics\Projects\Capstone\overdose\data\county_economic_data.csv')
county_economy

,geoid,name,B19001001,"B19001001, Error",B19001002,"B19001002, Error",B19001003,"B19001003, Error",B19001004,"B19001004, Error",...,B19001013,"B19001013, Error",B19001014,"B19001014, Error",B19001015,"B19001015, Error",B19001016,"B19001016, Error",B19001017,"B19001017, Error"
0,01000US,United States,125736350,198714,6192080,22306,4743710,20611,4235151,17229,...,16085302,41834,12442523,43284,9024401,41755,11075396,50946,14348087,70248
1,04000US47,Tennessee,2713635,7405,144639,2807,122212,3595,111419,2673,...,357378,4514,257232,4293,169567,3100,182209,3522,197980,3847
2,05000US47001,"Anderson County, TN",31275,606,1892,370,1929,342,956,200,...,4307,438,2491,319,1946,368,2262,345,1578,239
3,05000US47003,"Bedford County, TN",18469,369,690,215,785,269,827,252,...,3070,461,1585,310,885,228,843,203,822,214
4,05000US47005,"Benton County, TN",6736,285,339,100,373,117,612,179,...,1031,224,438,128,183,85,246,102,180,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,05000US47181,"Wayne County, TN",5744,219,493,194,354,115,318,124,...,971,220,321,106,297,114,264,110,133,103
93,05000US47183,"Weakley County, TN",13129,290,963,232,772,156,793,171,...,1798,278,859,182,464,123,459,172,350,112
94,05000US47185,"White County, TN",10716,277,442,144,838,238,629,215,...,1707,336,839,175,260,101,274,113,281,123
95,05000US47187,"Williamson County, TN",88238,569,1728,409,1125,307,1111,322,...,9688,818,9704,814,8184,883,12357,906,23882,1007
96,05000US47189,"Wilson County, TN",55037,551,2043,380,1316,414,1367,304,...,7802,686,6999,771,5167,585,6135,602,6190,639

In [4]:
#This is the data set of overdose across the country
od_counts_country=pd.read_csv(r'C:\Users\Thund\NSS_Data_Analytics\Projects\Capstone\overdose\data\VSRR_Provisional_Drug_Overdose_Death_Counts.csv')
od_counts_country=od_counts_country.drop(columns=['Footnote','Footnote Symbol'])
od_counts_country=

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,State Name,Footnote Symbol,Predicted Value
0,AK,2015,April,12 month-ending,Percent with drugs specified,88.0952381,100,0.000000,Alaska,**,NaN
1,AK,2015,April,12 month-ending,Psychostimulants with abuse potential (T43.6),NaN,100,0.000000,Alaska,**,NaN
2,AK,2015,April,12 month-ending,Number of Drug Overdose Deaths,126,100,0.000000,Alaska,**,126
3,AK,2015,April,12 month-ending,Methadone (T40.3),NaN,100,0.000000,Alaska,**,NaN
4,AK,2015,April,12 month-ending,"Natural, semi-synthetic, & synthetic opioids, ...",NaN,100,0.000000,Alaska,**,NaN
...,...,...,...,...,...,...,...,...,...,...,...
63940,YC,2023,September,12 month-ending,Methadone (T40.3),NaN,100,1.115782,New York City,*,315
63941,YC,2023,September,12 month-ending,Number of Drug Overdose Deaths,"2,925",100,1.115782,New York City,*,"3,358"
63942,YC,2023,September,12 month-ending,Heroin (T40.1),NaN,100,1.115782,New York City,*,709
63943,YC,2023,September,12 month-ending,Number of Deaths,"56,373",100,1.115782,New York City,*,NaN
63944,YC,2023,September,12 month-ending,"Synthetic opioids, excl. methadone (T40.4)",NaN,100,1.115782,New York City,*,"2,681"

In [41]:
#investigating TN's deaths for Jan. 2021 as a test
test=od_counts_country.loc[od_counts_country['Year']==2021]
test2=test.loc[test['Indicator']=='Number of Drug Overdose Deaths']
test3=test2.loc[test2['State']=='TN']
test4=test3.groupby('Month')['Data Value'].sum()
test4

Month
April        3,512
August       3,603
December     3,861
February     3,323
January      3,215
July         3,535
June         3,508
March        3,415
May          3,485
November     3,814
October      3,749
September    3,688
Name: Data Value, dtype: object

In [6]:
# This is the county data for the whole country
od_counts_county=pd.read_csv(r'C:\Users\Thund\NSS_Data_Analytics\Projects\Capstone\overdose\data\VSRR_Provisional_County-Level_Drug_Overdose_Death_Counts.csv')
od_counts_county=od_counts_county.drop(columns=['Footnote', 'HistoricalDataCompletenessNote', 'Start Date', 'End Date'])

In [8]:
tn_counties=od_counts_county.loc[od_counts_county['ST_ABBREV']=='TN']
tn_counties

,Data as of,Year,Month,ST_ABBREV,STATE_NAME,COUNTYNAME,FIPS,STATEFIPS,COUNTYFIPS,CODE2013,Provisional Drug Overdose Deaths,Percentage Of Records Pending Investigation,MonthEndingDate
101976,01/07/2024,2020,6,TN,Tennessee,Anderson,47001,47,1,3,51.0,0.0,06/30/2020
101977,01/07/2024,2020,1,TN,Tennessee,Anderson,47001,47,1,3,38.0,0.0,01/31/2020
101978,01/07/2024,2021,1,TN,Tennessee,Anderson,47001,47,1,3,56.0,0.0,01/31/2021
101979,01/07/2024,2020,7,TN,Tennessee,Anderson,47001,47,1,3,54.0,0.0,07/31/2020
101980,01/07/2024,2022,9,TN,Tennessee,Anderson,47001,47,1,3,75.0,0.0,09/30/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105961,01/07/2024,2020,3,TN,Tennessee,Wilson,47189,47,189,2,68.0,0.0,03/31/2020
105962,01/07/2024,2020,4,TN,Tennessee,Wilson,47189,47,189,2,65.0,0.0,04/30/2020
105963,01/07/2024,2020,5,TN,Tennessee,Wilson,47189,47,189,2,74.0,0.0,05/31/2020
105964,01/07/2024,2020,1,TN,Tennessee,Wilson,47189,47,189,2,66.0,0.0,01/31/2020
105965,01/07/2024,2020,2,TN,Tennessee,Wilson,47189,47,189,2,69.0,0.0,02/29/2020

In [40]:
#Investigating January 2021 for all of TN to see if it matches
test=tn_counties.loc[tn_counties['MonthEndingDate']=='01/31/2021']
test2=test.groupby('STATE_NAME')['Provisional Drug Overdose Deaths'].agg(sum)
test2

STATE_NAME
Tennessee    2950.0
Name: Provisional Drug Overdose Deaths, dtype: float64

In [28]:
#investigating Williamson county in 2021
test=tn_counties.loc[tn_counties['Year']==2021]
test2=test.loc[test['COUNTYNAME']=='Williamson']
test3=test2.groupby('COUNTYNAME')['Provisional Drug Overdose Deaths'].agg(sum)
test3

COUNTYNAME
Williamson    436.0
Name: Provisional Drug Overdose Deaths, dtype: float64

In [12]:
#reading in TN specific data from TN gov website.
tn_fatal=pd.read_excel(r'C:\Users\Thund\NSS_Data_Analytics\Projects\Capstone\overdose\data\fatal_tn.xlsx')
tn_fatal

,Year,Geography,GeographyType,Indicator,Value,ValueType
0,2017,Anderson,County,Drug Overdose Deaths Involving All Stimulants,20.0,Count
1,2017,Anderson,County,Drug Overdose Deaths Involving Benzodiazepines,11.0,Count
2,2017,Anderson,County,Drug Overdose Deaths Involving Cocaine,7.0,Count
3,2017,Anderson,County,Drug Overdose Deaths Involving Fentanyl,11.0,Count
4,2017,Anderson,County,Drug Overdose Deaths Involving Heroin,7.0,Count
...,...,...,...,...,...,...
13635,2021,Wilson,County,Drug Overdose Deaths Involving All Opioids,38.0,Rate
13636,2021,Wilson,County,Drug Overdose Deaths Involving Opioids and Any...,22.0,Rate
13637,2021,Wilson,County,Drug Overdose Deaths Involving All Opioids and...,NaN,Rate
13638,2021,Wilson,County,All Drug Overdose Deaths,44.0,Rate
13639,2021,Wilson,County,Drug Overdose Deaths Involving Psychostimulant...,22.0,Rate

In [43]:
drug_deaths=tn_fatal[tn_fatal['Indicator']== 'All Drug Overdose Deaths']
drug_deaths

,Year,Geography,GeographyType,Indicator,Value,ValueType
9,2017,Anderson,County,All Drug Overdose Deaths,47.0,Count
20,2017,Anderson,County,All Drug Overdose Deaths,60.0,Rate
31,2017,Bedford,County,All Drug Overdose Deaths,5.0,Count
42,2017,Bedford,County,All Drug Overdose Deaths,NaN,Rate
53,2017,Benton,County,All Drug Overdose Deaths,6.0,Count
...,...,...,...,...,...,...
13594,2021,White,County,All Drug Overdose Deaths,55.0,Rate
13605,2021,Williamson,County,All Drug Overdose Deaths,41.0,Count
13616,2021,Williamson,County,All Drug Overdose Deaths,17.0,Rate
13627,2021,Wilson,County,All Drug Overdose Deaths,63.0,Count
13638,2021,Wilson,County,All Drug Overdose Deaths,44.0,Rate

In [47]:
#testing Williamson county in 2021 to see if matches
test=tn_fatal.loc[tn_fatal['Year']==2021]
test2=test.loc[test['Geography']=='Williamson']
test3=test2.groupby('Geography')['Value'].agg(sum)
test3

Geography
Williamson    247.0
Name: Value, dtype: float64

In [13]:
tn_nonfatal=pd.read_excel(r'C:\Users\Thund\NSS_Data_Analytics\Projects\Capstone\overdose\data\nonfatal_tn.xlsx')
tn_nonfatal

,Year,Geography,GeographyType,Indicator,Value,ValueType,Demographics,DemographicsType
0,2017,Anderson,County,Inpatient Stays Involving Amphetamine Overdose...,11.0,Count,NaN,NaN
1,2017,Anderson,County,Outpatient Visits Involving Amphetamine Overdo...,10.0,Count,NaN,NaN
2,2017,Anderson,County,Inpatient Stays Involving Cocaine Overdose,4.0,Count,NaN,NaN
3,2017,Anderson,County,Outpatient Visits Involving Cocaine Overdose,1.0,Count,NaN,NaN
4,2017,Anderson,County,Inpatient Stays Involving Heroin Overdose,5.0,Count,NaN,NaN
...,...,...,...,...,...,...,...,...
14635,2021,Wilson,County,Outpatient Visits Involving All Opioid Overdos...,99.0,Rate,NaN,NaN
14636,2021,Wilson,County,Inpatient Stays Involving All Drug Overdose,93.0,Rate,NaN,NaN
14637,2021,Wilson,County,Outpatient Visits Involving All Drug Overdose,295.0,Rate,NaN,NaN
14638,2021,Wilson,County,Inpatient Stays Involving All Stimulant Overdose,15.0,Rate,NaN,NaN
14639,2021,Wilson,County,Outpatient Visits Involving All Stimulant Over...,9.0,Rate,NaN,NaN

In [14]:
prescribed_tn=pd.read_excel(r'C:\Users\Thund\NSS_Data_Analytics\Projects\Capstone\overdose\data\prescribe.xlsx')
prescribed_tn

       Year Geography GeographyType             Indicator  Value ValueType
0      2018  Anderson        County   All Benzodiazepines  43485     Count
1      2018  Anderson        County            Alprazolam  15416     Count
2      2018  Anderson        County            Clonazepam  10367     Count
3      2018  Anderson        County              Diazepam   4759     Count
4      2018  Anderson        County             Lorazepam   9099     Count
...     ...       ...           ...                   ...    ...       ...
14710  2022    Wilson        County             Lorazepam     53      Rate
14711  2022    Wilson        County  All Opioids for Pain    584      Rate
14712  2022    Wilson        County           Hydrocodone    240      Rate
14713  2022    Wilson        County             Oxycodone    201      Rate
14714  2022    Wilson        County              Tramadol     88      Rate

[14715 rows x 6 columns]

In [15]:
od_demographs=pd.read_csv(r'C:\Users\Thund\NSS_Data_Analytics\Projects\Capstone\overdose\data\Drug_overdose_death_rates__by_drug_type__sex__age__race__and_Hispanic_origin__United_States.csv')
od_demographs

,INDICATOR,PANEL,PANEL_NUM,UNIT,UNIT_NUM,STUB_NAME,STUB_NAME_NUM,STUB_LABEL,STUB_LABEL_NUM,YEAR,YEAR_NUM,AGE,AGE_NUM,ESTIMATE,FLAG
0,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,1999,1,All ages,1.10,6.1,NaN
1,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,2000,2,All ages,1.10,6.2,NaN
2,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,2001,3,All ages,1.10,6.8,NaN
3,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,2002,4,All ages,1.10,8.2,NaN
4,Drug overdose death rates,All drug overdose deaths,0,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,2003,5,All ages,1.10,8.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6223,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 45-54 years,3.25,2018,20,45-54 years,1.60,3.4,NaN
6224,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 55-64 years,3.26,2018,20,55-64 years,1.70,2.3,NaN
6225,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 65-74 years,3.27,2018,20,65-74 years,1.80,0.4,NaN
6226,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 75-84 years,3.28,2018,20,75-84 years,1.90,NaN,*
6227,Drug overdose death rates,Drug overdose deaths involving heroin,5,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 85 years and over,3.29,2018,20,85 years and over,1.91,NaN,*

In [24]:
demo_totals=od_demographs.loc[od_demographs['PANEL']=='Drug overdose deaths involving any opioid']
demo_totals

,INDICATOR,PANEL,PANEL_NUM,UNIT,UNIT_NUM,STUB_NAME,STUB_NAME_NUM,STUB_LABEL,STUB_LABEL_NUM,YEAR,YEAR_NUM,AGE,AGE_NUM,ESTIMATE,FLAG
987,Drug overdose death rates,Drug overdose deaths involving any opioid,1,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,1999,1,All ages,1.10,2.9,NaN
988,Drug overdose death rates,Drug overdose deaths involving any opioid,1,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,2000,2,All ages,1.10,3.0,NaN
989,Drug overdose death rates,Drug overdose deaths involving any opioid,1,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,2001,3,All ages,1.10,3.3,NaN
990,Drug overdose death rates,Drug overdose deaths involving any opioid,1,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,2002,4,All ages,1.10,4.1,NaN
991,Drug overdose death rates,Drug overdose deaths involving any opioid,1,"Deaths per 100,000 resident population, age-ad...",1,Total,0,All persons,0.10,2003,5,All ages,1.10,4.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6019,Drug overdose death rates,Drug overdose deaths involving any opioid,1,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 45-54 years,3.25,2018,20,45-54 years,1.60,15.4,NaN
6020,Drug overdose death rates,Drug overdose deaths involving any opioid,1,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 55-64 years,3.26,2018,20,55-64 years,1.70,11.9,NaN
6021,Drug overdose death rates,Drug overdose deaths involving any opioid,1,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 65-74 years,3.27,2018,20,65-74 years,1.80,3.6,NaN
6022,Drug overdose death rates,Drug overdose deaths involving any opioid,1,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 75-84 years,3.28,2018,20,75-84 years,1.90,1.2,NaN
6023,Drug overdose death rates,Drug overdose deaths involving any opioid,1,"Deaths per 100,000 resident population, crude",2,Sex and age,3,Female: 85 years and over,3.29,2018,20,85 years and over,1.91,0.9,NaN

In [23]:
grouped=od_demographs.groupby('PANEL')['YEAR'].count()
grouped

PANEL
All drug overdose deaths                                                         1038
Drug overdose deaths involving any opioid                                        1038
Drug overdose deaths involving heroin                                            1038
Drug overdose deaths involving methadone                                         1038
Drug overdose deaths involving natural and semisynthetic opioids                 1038
Drug overdose deaths involving other synthetic opioids (other than methadone)    1038
Name: YEAR, dtype: int64